{
    "plugins": [
        ["module-resolver", {
            "root": ["./"],
            "alias": {
              "@components" : "./components",
              "@screens" : "./components/screens",
              "@styles": "./assets/styles",
              "@images": "./assets/images"
            }
          }]
    ]
  }